root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
cmd = "GOEXPERIMENT=greenteagc,jsonv2 go build -o ./tmp/aur-helper ./cmd/aur/..."
bin = "./tmp/aur-helper"
full_bin = ""
args_bin = []
delay = 1000
exclude_dir = [
	".github",
	".vscode",
	"assets",
	"tmp",
	"vendor",
	"testdata",
	"bin",
]
exclude_file = ["air.toml"]
exclude_regex = ["_test.go"]
exclude_unchanged = false
follow_symlink = false
include_dir = []
include_ext = ["go", "tpl", "tmpl", "toml"]
include_file = []
kill_delay = 500
log = "error.log"
poll = false
poll_interval = 0
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
time = true

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = false
keep_scroll = true
